<div class="user-details">
  <h1> Work Experience </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> DevOps Engineer </h3>
    <h4> Company: <a href="https://www.landsend.com/">Lands' End</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: September 2018 - Present</h4>
    <div class="sub_skills">
      <ul>
        <li>Amazon Web Services</li>
        <li>Terraform</li>
        <li>Ansible</li>
        <li>Python</li>
        <li>Microservices</li>
    </div>
  </ul>
    <p>Lands' End is an amazing place to work. Being a DevOps person I am responsible for co-designing applications before migrating to Amazon Web Services and manage them as infrastructure as code (using Terraform). I develop software or tools to handle system level configuration for linux and manage Route53 with Dynamo DB.</p>
    <h4>Achievements/Tasks:</h4>
    <div class="tasks">
      <ul>
        <li>Redesigned and migrated LandsEnd.com to Amazon Web Services</li>
        <li>Redesigned CICD environment from on-prem to AWS CodeDeploy. Technologies utilized are Jenkins, Terraform, Lambda, Bash, and Code Deploy</li>
        <li>Specialized in levers and automation for development and deployment of the site</li>
        <li>Designed Landsend.com and LE.biz deployments using AWS CodeDeploy and Ansible Tower</li>
      </ul>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> CICD Engineer </h3>
    <h4> Company: TCS Client: <a href="https://www.motorolasolutions.com/en_us.html">Motorola Solutions</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: July 2016 - September 2018</h4>
    <div class="sub_skills">
      <ul>
        <li>Amazon Web Services</li>
        <li>Microsoft Azure</li>
        <li>Kubernetes</li>
        <li>Docker</li>
        <li>Docker Notary & Content Trust</li>
        <li>Twistlock</li>
    </div>
    <p>At Motorola, I was give new responsibilities for advocating and providing SAAS (Software as a service) for CICD next generation and it tuned out great! I could do so much more than i was doing before.</p>
    <h4>Achievements/Tasks:</h4>
    <div class="tasks">
      <ul>
        <li>Implement Docker image Scanner and runtime environment protection (Twistlock)</li>
        <li>Co-Design and implement docker container security and image provenance solution (docker content trust and docket notary) for Motorola’s next generation CI pipeline</li>
        <li>Develop Concourse CI resource type (nodejs based)</li>
        <li>Create CICD pipeline for deploying to AWS and Azure containers services</li>
        <li>Change Scripted pipeline to Declarative in Jenkins</li>
      </ul>
    </div>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> System Engineer </h3>
    <h4> Company: TCS Client: <a href="https://www.motorolasolutions.com/en_us.html">Motorola Solutions</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: Decenmber 2012 - July 2016</h4>
    <div class="sub_skills">
      <ul>
        <li>IBM Stack</li>
        <li>Jenkins</li>
        <li>Python</li>
        <li>Bash</li>
        <li>Atlassian Stack</li>
        <li>Amazon Web Services</li>
    </div>
    <p>This journey started as support engineer at TCS India. Started from supporting IBM tool stack to AWS cloud migration. Working with TCS, i got a change to learn and grow.</p>
    <h4>Achievements/Tasks:</h4>
      <div class="tasks">
        <ul>
          <li>Migrate applications from in-premises to AWS by utilizing AWS services (like AutoScaling, RDS, Route53, ELB, ElasticSearch)</li>
          <li>Migrate NAS and CIFS shares to AWS (EFS and self-created NFS)</li>
          <li>Lifecycle IBM ClearCase VOB data/old builds to S3</li>
          <li>Created Python and Shell scripts to configure system level configuration during execution</li>
        </ul>
      </div>
  </div>
</div>
