<div class="user-details">
  <h1> Work Experience </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> DevOps Engineer </h3>
    <h4> Company: <a href="https://www.landsend.com/">Lands' End</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: September 2018 - Present</h4>
    <div class="sub_skills">
      <ul>
        <li>Amazon Web Services</li>
        <li>Terraform</li>
        <li>Ansible</li>
        <li>Python</li>
        <li>Microservices</li>
    </div>
  </ul>
    <p>Lands' End is an amazing place to work. Being a DevOps person I am responsible for co-designing applications before migrating to Amazon Web Services and manage them as infrastructure as code. I develop software or tools to handle system level configuration for linux and manage Route53 with Dynamo DB.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> CICD Engineer </h3>
    <h4> Company: TCS Client: <a href="https://www.motorolasolutions.com/en_us.html">Motorola Solutions</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: July 2016 - September 2018</h4>
    <div class="sub_skills">
      <ul>
        <li>Amazon Web Services</li>
        <li>Microsoft Azure</li>
        <li>Kubernetes</li>
        <li>Docker</li>
        <li>Docker Notary & Content Trust</li>
        <li>Twistlock</li>
    </div>
    <p>Lands' End is an amazing place to work. Being a DevOps person I am responsible for co-designing applications before migrating to Amazon Web Services and manage them as infrastructure as code. I develop software or tools to handle system level configuration for linux and manage Route53 with Dynamo DB.</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> CICD Engineer </h3>
    <h4> Company: TCS Client: <a href="https://www.motorolasolutions.com/en_us.html">Motorola Solutions</a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Period: Decenmber 2012 - July 2016</h4>
    <div class="sub_skills">
      <ul>
        <li>IBM Stack</li>
        <li>Jenkins</li>
        <li>Python</li>
        <li>Bash</li>
        <li>Stlassian Stack</li>
        <li>Amazon Web Services</li>
    </div>
    <p>Lands' End is an amazing place to work. Being a DevOps person I am responsible for co-designing applications before migrating to Amazon Web Services and manage them as infrastructure as code. I develop software or tools to handle system level configuration for linux and manage Route53 with Dynamo DB.</p>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Production Support Engineer </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
